# Copiar a la raíz del proyecto como ".env" y completar con tus credenciales del portal PJF.
# No subir .env al repositorio.

PJF_USER=
PJF_PASSWORD=

# Opcional: si no usas PJF_PASSWORD, puedes usar:
# PJF_PASS=
